In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data/healthcare-dataset-stroke-data.csv', sep=',')
df

In [ ]:
list(df['id'])

In [ ]:
from Database import Databases

In [ ]:
a = Databases()
a

In [ ]:
a.create_table()

In [ ]:
a.inserting()

In [1]:
from data import Data
X, y = Data().manip()

In [2]:
X

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked
...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown

In [ ]:
y

In [ ]:
df_avc = pd.read_sql("SELECT * FROM avc;", a.engine)

In [ ]:
df_avc